<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044317453338-hcfe3vvjqhvsn7e0bhnu549r47sl9n6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044317453338-hcfe3vvjqhvsn7e0bhnu549r47sl9n6f</string>
	<key>API_KEY</key>
	<string>AIzaSyBeLb-Db72a4Lu447Sa67Lcb1cfsk3wubk</string>
	<key>GCM_SENDER_ID</key>
	<string>1044317453338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mohanad</string>
	<key>PROJECT_ID</key>
	<string>mohanadproject-295fe</string>
	<key>STORAGE_BUCKET</key>
	<string>mohanadproject-295fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044317453338:ios:245b5972c73c9a224d25a3</string>
</dict>
</plist>